from Tkinter import *
from random import shuffle

class Anagram:
    word = list('school')
    word_original = list(word)
    shuffle(word)
    letters = {'alpha': -1, 'beta': -1} 
    caps = False


    def __init__(self):
        tk.bind('<Left>', self.move)
        tk.bind('<Right>', self.move)
        tk.bind('<Shift-Left>', self.capitalize)
        tk.bind('<Shift-Right>', self.capitalize)
        tk.bind('<Escape>', self.clear)
        tk.bind('<Return>', self.rotate)

        self.canvas = Canvas(tk)
        self.canvas.pack(expand=YES, fill=BOTH)
        self.text1 = self.canvas.create_text(250, 150, text=self.word, font=('helvetica', 32))
        self.text2 = self.canvas.create_text(250, 50, font=('helvetica', 32))

           
    def check(self, event=None):
        pointer = ''
        for i in range(min(self.letters.values()), max(self.letters.values())) + [max(self.letters.values())]:
            if self.word[i].lower() == self.word_original[i]:
                pointer = pointer + '*'
        if all(self.word_original[i] == j for i,j in enumerate(self.word)):
            pointer = '!'
        self.canvas.itemconfigure(self.text2, text=pointer)

        print self.letters
        

    def rotate(self, event=None):
        new_list = []
        old_list_left = []
        old_list_right = []
    
        if self.letters['alpha'] == -1:
            return
    
        if min(self.letters.values()) > 0:
            for i in range(min(self.letters.values())):
                old_list_left.append(self.word[i])

        for i in range(min(self.letters.values()), max(self.letters.values())) + [max(self.letters.values())]:
            new_list.append(self.word[i])        

        if max(self.letters.values()) < len(self.word)-1:
            for i in range(max(self.letters.values())+1, len(self.word)):
                old_list_right.append(self.word[i])

        if self.letters['alpha'] < self.letters['beta']:
            new_list.insert(0, new_list.pop())
        elif self.letters['beta'] < self.letters['alpha']:
           new_list.append(new_list.pop(0))
        self.word = old_list_left + new_list + old_list_right
        self.canvas.itemconfigure(self.text1, text=self.word)
        self.check()
 

    def clear(self, event=None):

        for i in range(0, len(self.word)):
            self.word[i] = self.word[i].lower()
        self.canvas.itemconfigure(self.text1, text=self.word)
    
        self.letters['alpha'] = -1
        self.letters['beta'] = self.letters['alpha']
        self.caps = False
        self.check()


    def move(self, event=None):
   
        if self.caps == True:

            for i in range(min(self.letters.values()), max(self.letters.values())) + [max(self.letters.values())]:
                self.word[i] = self.word[i].lower()  

            if event.keysym == 'Right':
                if self.letters['beta'] <= self.letters['alpha']:
                    self.letters['alpha'] = self.letters['alpha'] + 1
                else:
                    self.letters['alpha'] = self.letters['beta'] + 1
                if max(self.letters.values()) > len(self.word)-1:
                    self.letters[max(self.letters, key=lambda j: self.letters[j])] = len(self.word) - 1

            if event.keysym == 'Left':
                if self.letters['alpha'] <= self.letters['beta']:
                    self.letters['alpha'] = self.letters['alpha'] - 1
                else:
                    self.letters['alpha'] = self.letters['beta'] - 1
                if min(self.letters.values()) < 0:
                    self.letters[min(self.letters, key=lambda j: self.letters[j])] = 0

            self.letters['beta'] = self.letters['alpha']  
            self.word[self.letters['alpha']] = self.word[self.letters['alpha']].upper()
            self.canvas.itemconfigure(self.text1, text=self.word)

        if self.caps == False:

            self.letters['gamma'] = self.letters['alpha']

            if event.keysym == 'Right':
                self.letters['alpha'] = self.letters['alpha'] + 1
                if self.letters['alpha'] > len(self.word)-1:
                    self.letters['alpha'] = 0

            if event.keysym == 'Left':
                self.letters['alpha'] = self.letters['alpha'] - 1
                if self.letters['alpha'] < 0:
                    self.letters['alpha'] = len(self.word)-1
              
            self.word[self.letters['gamma']] = self.word[self.letters['gamma']].lower() 
            del self.letters['gamma'] 
            self.word[self.letters['alpha']] = self.word[self.letters['alpha']].upper()
            self.canvas.itemconfigure(self.text1, text=self.word)
            self.letters['beta'] = self.letters['alpha']
        
        self.caps = False
        self.check()

    def capitalize(self, event=None):
       
        self.caps = True

        if event.keysym == 'Left':

            if self.letters['alpha'] == -1:
                self.letters['alpha'] = len(self.word) - 1
                self.letters['beta'] = self.letters['alpha']
                self.word[self.letters['alpha']] = self.word[self.letters['alpha']].upper()
                canvas.itemconfigure(text1, text=word)
            elif self.letters['beta'] == self.letters['alpha']:
                self.letters['beta'] = self.letters['alpha'] - 1
            elif self.letters['beta'] != self.letters['alpha']:
                if self.word[self.letters['beta']].isupper():
                    self.word[self.letters['beta']] = self.word[self.letters['beta']].lower()
                self.letters['beta'] = self.letters['beta'] - 1

            if self.letters['beta'] < 0:
                 self.letters['beta'] = 0
       
        if event.keysym == 'Right':
        
            if self.letters['alpha'] == -1:
                self.letters['alpha'] = 0
                self.letters['beta'] = self.letters['alpha']
                self.word[self.letters['alpha']] = self.word[self.letters['alpha']].upper()
            elif self.letters['beta'] == self.letters['alpha']:
                self.letters['beta'] = self.letters['alpha'] + 1
            elif self.letters['beta'] != self.letters['alpha']:
                if self.word[self.letters['beta']].isupper():
                    self.word[self.letters['beta']] = self.word[self.letters['beta']].lower()
                self.letters['beta'] = self.letters['beta'] + 1
        
            if self.letters['beta'] > len(self.word)-1:
                self.letters['beta'] = len(self.word)-1

        for i in range(min(self.letters.values()), max(self.letters.values())) + [max(self.letters.values())]:
            self.word[i] = self.word[i].upper()
 
        self.canvas.itemconfigure(self.text1, text=self.word)
        print self.letters
        self.check()

tk = Tk()
tk.geometry('500x300')
tk.focus_set()
    
anagram = Anagram()

tk.mainloop()
